## Location for data
/.dev
/.ci
/.prod

## Docker Compose
# Configuration file.
.env
/*.env
.secrets/

# The Docker Compose "override" YAML file.
docker-compose.override.yml

## Text Editors
/.vscode
*~
.*.sw?
.idea/
